<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24150267-00f4-47f8-a2a3-261cf0cf34d4" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>About</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="571e5be9-5dc2-44f7-8afe-bbee6de2da3c">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>235e8d37-876b-4690-8e0e-98f50a7d638e</Key>
      <Name>Tiles</Name>
      <Alias>aboutTiles</Alias>
      <Definition>376ec82e-08c0-45a8-a7da-48ee0b6b3534</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d01c735b-fd8c-447d-8761-ed9bab806a11</Key>
      <Name>Section Content</Name>
      <Alias>joinTeamSectionContent</Alias>
      <Definition>040e247c-3b49-4a24-b17c-3117719113c8</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Join the Team Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbfcc4af-4595-44fc-b69f-4b6aa7f58248</Key>
      <Name>Section Title</Name>
      <Alias>joinTeamSectionTitle</Alias>
      <Definition>46fb589f-db2c-4de7-90fe-ae3525e382f4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Join the Team Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6aa930ac-317a-41fb-9bb4-c6de467cdb9b</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>a33fd4c2-f859-4af5-ac1c-d6484e669595</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>12a0afcd-7a36-4927-b40e-b41d5e589bbe</Key>
      <Name>Team Members</Name>
      <Alias>teamMembers</Alias>
      <Definition>53cba738-b017-4624-b75e-a4e8272a8c32</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Team Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>905aff3e-cbac-408d-963d-4f7a23444c61</Key>
      <Name>Section Title</Name>
      <Alias>teamSectionTitle</Alias>
      <Definition>6e1f74ba-46a8-4776-87f6-625a5752ea95</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Team Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Team Section</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Join the Team Section</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>