<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16b56013-baeb-48b3-8a79-456d05f62a9a" Alias="advoc8SeriesEvent" Level="2">
  <Info>
    <Name>Advoc8 Series Event</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Impact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1c75646-d4c0-4e16-9dea-d015ca4efffd</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>a7cb4339-8cfa-4fe0-bc63-d74fc7a03eba</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Advoc8 Event Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d810149-7d3a-4ed5-a550-aea93b3c995b</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>3a8788e3-83da-495f-b2a9-a9d0344eba1e</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Advoc8 Event Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0856fc11-9cd3-499f-a798-e59f00719bdd</Key>
      <Name>Link Location</Name>
      <Alias>linkLocation</Alias>
      <Definition>afebd3a5-423e-4992-9692-1220714061a4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Advoc8 Event Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d065fd6f-3c99-4c3a-80ca-ea4fd9ef1bf3</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>fe88bc9f-0fab-4c95-bc7c-7091d3d7955a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Advoc8 Event Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Advoc8 Event Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>