<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a149c69d-ce74-444d-8149-e6e47458088c" Alias="advoc8ProgramItem" Level="2">
  <Info>
    <Name>Advoc8 Program Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2a0ef49-211b-4492-96db-a0f76ec0ec41</Key>
      <Name>Audience</Name>
      <Alias>audience</Alias>
      <Definition>1a037c72-48f7-4980-895c-32a5e6daf783</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c499c5ee-28c5-465d-9977-7d3a2c4be6da</Key>
      <Name>Focus</Name>
      <Alias>focus</Alias>
      <Definition>e46cdfc6-ef5e-4f29-85e3-60badab98bfb</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1f52e022-f3fc-4402-b0f6-097aee6ab739</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>b56379d4-6145-481c-90d4-dffd0b79b3ec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>11fa8f34-0b4a-4966-9831-a2da042bed5d</Key>
      <Name>Length</Name>
      <Alias>length</Alias>
      <Definition>572aff87-4e5e-453c-8368-0903a9f5a702</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>471b7967-8c39-4f54-8265-32eed45303cb</Key>
      <Name>Outcomes</Name>
      <Alias>outcomes</Alias>
      <Definition>a33ed574-a564-430a-ade4-b77ddaa2e0e5</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2cf68e72-4243-4d22-b1ff-a6ea8cab3bcd</Key>
      <Name>Overview</Name>
      <Alias>overview</Alias>
      <Definition>d5cf2d56-3a9a-4736-9bbb-9568461de6f6</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>35f9c6cf-ebc9-4f40-a49d-10f6be7762a9</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>97c0b8f4-014e-43f3-bdf8-9dca5e35a198</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the program]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>