<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4494510c-4939-47e8-963a-e43af842eeaa" Alias="advoc8Series" Level="2">
  <Info>
    <Name>Advoc8 Series Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Impact</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>Advoc8Series</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8ecea2a6-a39b-485a-a92f-67264bc7a713">Advoc8Series</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>86ad8c44-2d98-43ac-98ca-01dfdeec3ed3</Key>
      <Name>Great Stuff Tiles</Name>
      <Alias>greatStuffTiles</Alias>
      <Definition>e972463f-7dd5-45f4-b53b-89b5235c0096</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>More Great Stuff Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d27924ab-668a-43c5-a342-10152cb09d00</Key>
      <Name>Section Title</Name>
      <Alias>impactSectionTitle</Alias>
      <Definition>69b2fedb-f4eb-4214-b316-03bc725e0102</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Impact Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a8a80c7c-0b17-46e7-9c4b-b744a433a27c</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>8f29ec02-3bec-40e3-99d0-b6342a70eb60</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>60ebd2cd-fddb-4886-a0c6-155e513099ff</Key>
      <Name>Section Title</Name>
      <Alias>moreGreatStuffSectionTitle</Alias>
      <Definition>5e572965-58b2-4591-a8be-e57aab0cf040</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>More Great Stuff Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>40f6956a-a22a-4db4-9b90-8fbcba607371</Key>
      <Name>Statistics</Name>
      <Alias>statistics</Alias>
      <Definition>c00fe28b-f7e9-4dc7-99d8-bfecd303c1aa</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Impact Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b39d4570-8739-4a6b-8a56-1e35ac1daee1</Key>
      <Name>Tiles</Name>
      <Alias>tiles</Alias>
      <Definition>c8d7430d-09d2-4a08-8c55-2a6aa1cfd0a9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Section</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Impact Section</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>More Great Stuff Section</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>