<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c266b6e4-b726-4202-9998-11902496f45f" Alias="advoc8SeriesOnTheGo" Level="2">
  <Info>
    <Name>Advoc8 Series On The Go Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Impact</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>Advoc8SeriesOnTheGo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c0bb091b-ca2d-4bcb-84fd-e70e9a03b1a5">Advoc8SeriesOnTheGo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22f67c69-5274-451c-a39a-590b8e5bdc73</Key>
      <Name>Advoc8 Programs</Name>
      <Alias>advoc8Programs</Alias>
      <Definition>72ad4c06-e4e8-496e-97d1-d03d450d7151</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the node folder containing all the programs]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Explore Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3ddc3056-0898-4cbd-8945-5b01cefb1ac6</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>8bb1495f-674f-4e5e-a3e5-648c25f5382b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>75db3b86-8769-40dd-b1b1-5c748ac817ca</Key>
      <Name>Section Title</Name>
      <Alias>impactSectionTitle</Alias>
      <Definition>0b9fb309-5a48-4202-9724-f20f5c50c910</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Impact Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d48d70a8-3939-4437-b2ec-c9eb8b1378f9</Key>
      <Name>Statistics</Name>
      <Alias>impactStatistics</Alias>
      <Definition>083a24e2-7aa0-4fb8-8fb6-b06f3bc70b5a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Impact Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>06396ede-2893-48af-8da1-00c94926ac05</Key>
      <Name>Link Location</Name>
      <Alias>linkLocation</Alias>
      <Definition>a60ee54c-a658-4775-a398-c85518209121</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>45f86f28-ecec-4e8f-be9c-0db4389a4915</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>fd95447a-ec2b-43e1-aef8-6781522109cb</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Explore Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2db8f648-cc11-4555-9339-311be3e87942</Key>
      <Name>Tiles</Name>
      <Alias>tiles</Alias>
      <Definition>7e62b3a0-b310-4456-ae69-989c2c11ee93</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Impact Section</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Explore Section</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>