<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac6762ac-207d-40b2-a738-89dcbc20c55e" Alias="advoc8Programs" Level="2">
  <Info>
    <Name>Advoc8 Programs</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a149c69d-ce74-444d-8149-e6e47458088c">advoc8ProgramItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>