<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6d9962f-6f38-4954-a420-dab78568247d" Alias="basePage" Level="1">
  <Info>
    <Name>Base page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>BasePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f2eac7d6-4ce2-4e6d-ad8f-c98aec0d4ddd">BasePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0584e906-abd2-4511-b2da-2382e2e21d7b</Key>
      <Name>Hide in Navigation</Name>
      <Alias>hideInNavigation</Alias>
      <Definition>d1f45753-6474-4b3b-a9a0-b45ae3c1fa7c</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to hide the page from the main navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Basic Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5e395a57-8fc0-47ff-8a1d-cc5c21f78ff7</Key>
      <Name>Hide page from search engines</Name>
      <Alias>hidePageFromSearchEngines</Alias>
      <Definition>cf528b08-7556-48b4-a7c0-aa35361cfc97</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add in the robots meta tags to tell search engines to not index this page. It will be excluded from the sitemap as well.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Advanced</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6119d259-dcb8-4611-8dfe-37c1283cc83e</Key>
      <Name>Page Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>316b808a-ad73-4eeb-93f1-56d8f934b724</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Basic Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fda2e5a3-e5a7-475e-a869-863e91d73efd</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>c4d3f96a-81d1-441b-b486-7091086b3567</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the title that is displayed in the browser's tab]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Basic Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Basic Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Advanced</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>