<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31499331-3a3d-4740-a1d0-e09cdd6497ba" Alias="blogDetailPage" Level="2">
  <Info>
    <Name>Blog Detail Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
    </Compositions>
    <DefaultTemplate>BlogDetailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="43b448e6-2c8d-4f4a-811f-7418ad317b39">BlogDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>