<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15b3ac56-f305-4316-a895-7d61637cccc3" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6af2bf3d-0c28-43c8-81d9-c4e2a72a7cf7">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="31499331-3a3d-4740-a1d0-e09cdd6497ba">blogDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>