<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="569448e9-6480-4546-8aab-a22df33620f8" Alias="genericBanner" Level="2">
  <Info>
    <Name>Generic Banner</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60e76c8b-3057-4a4a-9b5d-69e6c11f1fdf</Key>
      <Name>Main Banner Image</Name>
      <Alias>mainBannerImage</Alias>
      <Definition>cd6063d6-2e90-4a66-9224-3d0b263666ba</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Main Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d7926073-2985-4c7a-8deb-eb4a5912d171</Key>
      <Name>Show White Gradient</Name>
      <Alias>showWhiteGradient</Alias>
      <Definition>ee797555-9bd2-46c1-a353-882c33b869f5</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Toggle to show the white gradient on the top right of the banner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8b4c0fea-407f-40c5-9ae6-e102988d867c</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>9aa1c9b2-94c5-402c-8b86-16cca56d7f7b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the black text on the second line of the banner title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f72ca6f2-7682-4ee3-8056-16146a799e06</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>91c16599-9aaa-4671-b5e4-3ee89b7157f2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the grey text on the first line of the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>