<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94300b6c-6228-4e01-812e-a2b1ae5db2ce" Alias="halfImageAndHalfContentTile" Level="2">
  <Info>
    <Name>Half Image and Half Content Tile</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>267c2986-56e1-4fbd-b6a6-0484fb61bb2b</Key>
      <Name>Tile Content</Name>
      <Alias>tileContent</Alias>
      <Definition>a4398900-61e7-428b-bdd0-48f3a8d71dff</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Tile Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>84aefc80-b241-4ec8-817d-466d0b61cb6c</Key>
      <Name>Tile Content Box Background Color</Name>
      <Alias>tileContentBoxBackgroundColor</Alias>
      <Definition>aed2eef3-95eb-43de-854b-69a3af824f7e</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify a color hex value for the background color]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Tile Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>76cdce97-2a3f-474d-86e2-355a42727b54</Key>
      <Name>Tile Image</Name>
      <Alias>tileImage</Alias>
      <Definition>d2dbf827-8467-4eb6-afef-7c2e96a9cf9f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Tile Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>39203d4e-154c-4c84-8b1f-c59a3d831dbc</Key>
      <Name>Tile Image Subtitle</Name>
      <Alias>tileImageSubtitle</Alias>
      <Definition>33f76fe3-5bae-4373-a1ad-05b257335996</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Tile Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7eebc736-65f6-49a2-98af-29b41bfa9a00</Key>
      <Name>Tile Image Title</Name>
      <Alias>tileImageTitle</Alias>
      <Definition>e18f9be6-35c3-4b6b-8df6-6f1d916cbe65</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Tile Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Tile Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>