<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c1927c5-2309-42ab-bed8-9288a6cb8e1c" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-umb-translation color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Home</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc5702a2-a3e4-4e77-9def-40e18f0d0b5f">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="24150267-00f4-47f8-a2a3-261cf0cf34d4">aboutPage</ContentType>
    <ContentType Key="15b3ac56-f305-4316-a895-7d61637cccc3">blogPage</ContentType>
    <ContentType Key="6cd64f49-669b-4b4d-a0dd-6117140ca01d">impactPage</ContentType>
    <ContentType Key="a4e9bf0b-4a1b-407a-95e7-1928f744fe64">theMovementPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c6e53599-9b60-4b9e-bbaa-5b846d16e533</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>90cbdc5a-dddf-456b-ae80-09346323b3f4</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Bottom Cross-sell Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>212a6f86-133d-450b-8032-193b41c7784a</Key>
      <Name>Button Link</Name>
      <Alias>buttonLink</Alias>
      <Definition>c6190d3e-6b87-458c-8645-bb43c75b4182</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify where should the button link to]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Bottom Cross-sell Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>35e72e28-8ea9-4e07-ab0c-46d936f1b805</Key>
      <Name>Carousel</Name>
      <Alias>carousel</Alias>
      <Definition>9c9f3af8-a98e-4d49-af56-4d053fc69c78</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Manage the slides that should be displayed on the homescreen]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Homepage Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1c2fd2ef-1f10-4316-8355-9f7bf7b19f4a</Key>
      <Name>Main Statistic</Name>
      <Alias>mainStatistic</Alias>
      <Definition>83a32b71-f9d3-4268-826c-3bda12e31d18</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main statistic to be shown in the statistics section]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Homepage Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81c1d11f-8efb-44a5-a5a2-9de22261b61e</Key>
      <Name>Show Banner</Name>
      <Alias>showBanner</Alias>
      <Definition>baecda65-b405-4d62-b397-cf53382ece3b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Toggle to hide/show the cross sell banner located at the bottom near the footer]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Bottom Cross-sell Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a212b170-c62f-46ea-b744-f89dc39d88d3</Key>
      <Name>Statistics</Name>
      <Alias>statistics</Alias>
      <Definition>08ec42e5-da9d-45eb-8f42-41364b0c2355</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the statistics to be displayed in the section.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Homepage Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>afad993a-cedc-4200-8b07-d561a15cd924</Key>
      <Name>Tiles</Name>
      <Alias>tiles</Alias>
      <Definition>fba3104a-5f8a-4e38-a6dd-e32d3aafd8b3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Manage the tiles that is displayed on the homescreen]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Homepage Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>531f5ab1-d26f-4b6f-9f08-639e90cfa5ca</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>d606f3da-aefd-4470-9af8-02a2aaf0acc6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Bottom Cross-sell Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Homepage Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Bottom Cross-sell Banner</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>