<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6cd64f49-669b-4b4d-a0dd-6117140ca01d" Alias="impactPage" Level="2">
  <Info>
    <Name>Impact Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Impact</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4494510c-4939-47e8-963a-e43af842eeaa">advoc8Series</ContentType>
    <ContentType Key="c266b6e4-b726-4202-9998-11902496f45f">advoc8SeriesOnTheGo</ContentType>
    <ContentType Key="3ac89d84-30b7-4e72-95cb-45c9c6d9f6d3">selfCareProgramPage</ContentType>
    <ContentType Key="3af84798-a22a-4d39-9ec4-11d3fe92b1c2">technologyPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>