<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ac89d84-30b7-4e72-95cb-45c9c6d9f6d3" Alias="selfCareProgramPage" Level="2">
  <Info>
    <Name>Self Care Program Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Impact</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>SelfCareProgramPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="22236a5a-2dcb-4108-861e-ddfd3427ccc2">SelfCareProgramPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f33bcb19-63c4-4485-98b4-bcc551e49206</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>2e1f5f7f-c2e7-440f-9380-3e10bc700c2b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b502c8b7-64bb-4db9-9039-68548bdfebcf</Key>
      <Name>Tiles</Name>
      <Alias>tiles</Alias>
      <Definition>7b7bb33c-211a-4bbe-950e-e35a83cbe9f3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>