<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47f577df-8eff-4914-9f0f-11c7eb49e731" Alias="statistics" Level="2">
  <Info>
    <Name>Statistics</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7626d762-6aca-4a7b-bd22-9a43e0ee8673">statisticItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>