<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fcf9915-4370-4885-ab64-a44d2d89ac4f" Alias="teamMemberItem" Level="2">
  <Info>
    <Name>Team Member Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>be37e529-ad53-40fa-a962-40b4b6047cf6</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>54f5f769-906a-4955-b36c-716bb5eb0ff1</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify the description for the team member. This content is shown in the pop-up.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7c6fc171-2d80-415d-a29b-276f9754754b</Key>
      <Name>Designation</Name>
      <Alias>designation</Alias>
      <Definition>81f0961e-b8ba-4d20-868e-af0055cc2258</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify the designation of the team member]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>746a0730-4c85-441f-9e85-f0fb1dc20e59</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>5c640642-f4f2-41a1-a2f4-d66c4b9fb704</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify a photo of the team member]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>40d5a019-caa5-4d95-b57a-1a8d2e179200</Key>
      <Name>Name</Name>
      <Alias>memberName</Alias>
      <Definition>d713ba8e-7581-4730-8a23-d53356592d10</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify the name of the team member]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>