<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac68390d-24ba-483c-bd65-0d82e8dc1007" Alias="teamMembers" Level="2">
  <Info>
    <Name>Team Members</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4fcf9915-4370-4885-ab64-a44d2d89ac4f">teamMemberItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>