<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="feead7b0-abd5-4699-b5c6-80f2c97f60d2" Alias="technologyTile" Level="2">
  <Info>
    <Name>Technology Tile</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e3823caf-f7dc-4b28-900b-a531a9930c86</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>fd34d9eb-6c06-46e7-9b63-04585abfc904</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cabe0ddd-1292-42ab-a784-bb23eab7ea9b</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>609bd510-8be1-44f8-b06b-b01288995faf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Information</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>