<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3af84798-a22a-4d39-9ec4-11d3fe92b1c2" Alias="technologyPage" Level="2">
  <Info>
    <Name>Technology Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Impact</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>TechnologyPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a0fa37f-fa53-4d6f-b961-bf1d7f1282f5">TechnologyPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7c3a7b60-7454-49f6-8a44-d96cf99f83c4</Key>
      <Name>Content Tiles</Name>
      <Alias>contentTiles</Alias>
      <Definition>d60706cc-b807-4beb-b46e-207157be458d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3976a338-8d12-4f03-82d8-36d261dfcad0</Key>
      <Name>Content Title</Name>
      <Alias>contentTitle</Alias>
      <Definition>03c3995d-57dd-401c-a26d-c17181436e59</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>795d7b44-e0c7-4485-b70c-0380b4ad727c</Key>
      <Name>Technology Tiles</Name>
      <Alias>technologyTiles</Alias>
      <Definition>fdb0a085-f73e-421e-a243-11528ca1594d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>