<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4e9bf0b-4a1b-407a-95e7-1928f744fe64" Alias="theMovementPage" Level="2">
  <Info>
    <Name>The Movement Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>The+Movement</Folder>
    <Compositions>
      <Composition Key="c6d9962f-6f38-4954-a420-dab78568247d">basePage</Composition>
      <Composition Key="569448e9-6480-4546-8aab-a22df33620f8">genericBanner</Composition>
    </Compositions>
    <DefaultTemplate>TheMovementPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fbe1b335-f745-46f2-b86c-d4254d706168">TheMovementPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0cc385e-a0e0-4b18-833a-bb8abca03edc</Key>
      <Name>Carousel Items Folder</Name>
      <Alias>carouselItemsFolder</Alias>
      <Definition>d30f3fc2-11e6-4dc3-adb5-442e31e2059c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Resources Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>589f0921-cda1-4c0d-bcf4-af132d043a95</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>8457b055-4b7c-4e65-bb85-a94341b93c82</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ca1a432b-f3bf-4717-8f66-bfa9e39c4a11</Key>
      <Name>Tiles</Name>
      <Alias>contentTiles</Alias>
      <Definition>e87516ad-622a-4aeb-9fd1-fdcb05b5af6f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>68335aa8-8f4f-4fb8-b025-fd5a62975d93</Key>
      <Name>Link Location</Name>
      <Alias>findInterestingLinkLocation</Alias>
      <Definition>822c5528-5d76-480e-896a-fdd6f15f2dab</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Find Something Interesting Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a677025f-6b2c-4c69-8f48-8c0ee42d589e</Key>
      <Name>Section Content</Name>
      <Alias>findSomethingSectionContent</Alias>
      <Definition>78523b29-64ed-4e6b-9c27-434ab90ae6cd</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Find Something Interesting Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fcd25e91-18f4-449f-8c4e-6d0762368099</Key>
      <Name>Section Title</Name>
      <Alias>findSomethingSectionTitle</Alias>
      <Definition>f4d7d417-2e66-4e01-8dca-aa77cd6bfae3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Find Something Interesting Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4e530fa5-016d-4630-a46f-e6ff64e757b2</Key>
      <Name>Section Image</Name>
      <Alias>lobbySectionImage</Alias>
      <Definition>a850ab1a-651f-491b-bb66-6fac58f5b1f5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Lobby With Us Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e3b5f846-c1ad-4aea-ba37-242bcf870ddb</Key>
      <Name>Section Subtitle</Name>
      <Alias>lobbySectionSubtitle</Alias>
      <Definition>abc06053-3f16-4f6b-9e2c-a1bcd3efad8b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Lobby With Us Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3f1dd6aa-3466-43ed-bbac-660d25a63e81</Key>
      <Name>Section Title</Name>
      <Alias>lobbySectionTitle</Alias>
      <Definition>91a4a2bb-cadb-4f19-b517-d9352bc98963</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Lobby With Us Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c76adfe5-11ee-464a-84fa-2e0a61e4a710</Key>
      <Name>Subtitle</Name>
      <Alias>mainContentSubtitle</Alias>
      <Definition>a46e7d05-fbee-42c0-a705-0e4fba67a495</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>60feb3fe-6a0a-4c53-9425-7af436ad1015</Key>
      <Name>Main Title</Name>
      <Alias>mainContentTitle</Alias>
      <Definition>c84390a0-a653-4a0b-ac6d-f59e18409c06</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d78c532b-0cc8-4de4-b779-6412e69d7097</Key>
      <Name>Banner Title</Name>
      <Alias>volunteerBannerTitle</Alias>
      <Definition>207f07dc-00c6-4972-88af-139afe5e2027</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Be a Volunteer Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7f9c080e-17a1-4b2e-a999-007122a04534</Key>
      <Name>Fineprint</Name>
      <Alias>volunteerFineprint</Alias>
      <Definition>fef64183-62db-4f98-98d6-e887844f14e5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Be a Volunteer Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1283fec5-f344-4401-b00a-806e350aab20</Key>
      <Name>Link Location</Name>
      <Alias>volunteerLinkLocation</Alias>
      <Definition>bf265a91-b393-4840-bbfc-f7e5079a5105</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify a location that the button should link to]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Be a Volunteer Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Be a Volunteer Banner</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Lobby With Us Section</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Find Something Interesting Banner</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Resources Section</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>