<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46fb589f-db2c-4de7-90fe-ae3525e382f4" Alias="About Page - Section Title - Textbox (1)" Level="1">
  <Info>
    <Name>About Page - Section Title - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>