<?xml version="1.0" encoding="utf-8"?>
<DataType Key="376ec82e-08c0-45a8-a7da-48ee0b6b3534" Alias="About Page - Tiles - Nested Content" Level="1">
  <Info>
    <Name>About Page - Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>