<?xml version="1.0" encoding="utf-8"?>
<DataType Key="457529d2-dd0a-4745-8fb5-b31b9c09ec27" Alias="About Page - Main Content - Textarea" Level="1">
  <Info>
    <Name>About Page - Main Content - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>