<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e1f74ba-46a8-4776-87f6-625a5752ea95" Alias="About Page - Section Title - Textbox" Level="1">
  <Info>
    <Name>About Page - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>