<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53cba738-b017-4624-b75e-a4e8272a8c32" Alias="About Page - Team Members - Multinode Treepicker" Level="1">
  <Info>
    <Name>About Page - Team Members - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "teamMembers",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>