<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72ad4c06-e4e8-496e-97d1-d03d450d7151" Alias="Advoc8 Series On The Go - Advoc8 Programs - Multinode Treepicker" Level="1">
  <Info>
    <Name>Advoc8 Series On The Go - Advoc8 Programs - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/487a791afabb4c44916fc1ac1195f673"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>