<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d477ef8f-55cc-48c1-b1c1-7b04768d5fa4" Alias="Advoc8 Series Event - Image - Media Picker (1)" Level="1">
  <Info>
    <Name>Advoc8 Series Event - Image - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>