<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a037c72-48f7-4980-895c-32a5e6daf783" Alias="Advoc8 Program Item - Audience - Textarea" Level="1">
  <Info>
    <Name>Advoc8 Program Item - Audience - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>