<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7cb4339-8cfa-4fe0-bc63-d74fc7a03eba" Alias="Advoc8 Series Event - Description - Textarea" Level="1">
  <Info>
    <Name>Advoc8 Series Event - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>