<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97c0b8f4-014e-43f3-bdf8-9dca5e35a198" Alias="Advoc8 Program Item - Title - Textbox" Level="1">
  <Info>
    <Name>Advoc8 Program Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>