<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b9fb309-5a48-4202-9724-f20f5c50c910" Alias="Advoc8 Series On The Go - Section Title - Textbox" Level="1">
  <Info>
    <Name>Advoc8 Series On The Go - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>