<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b56379d4-6145-481c-90d4-dffd0b79b3ec" Alias="Advoc8 Program Item - Image - Media Picker" Level="1">
  <Info>
    <Name>Advoc8 Program Item - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>