<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e62b3a0-b310-4456-ae69-989c2c11ee93" Alias="Advoc8 Series On The Go - Tiles - Nested Content" Level="1">
  <Info>
    <Name>Advoc8 Series On The Go - Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>