<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e972463f-7dd5-45f4-b53b-89b5235c0096" Alias="Advoc8 Series - Great Stuff Tiles - Nested Content" Level="1">
  <Info>
    <Name>Advoc8 Series - Great Stuff Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "advoc8SeriesEvent",
      "ncTabAlias": "Advoc8 Event Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>