<?xml version="1.0" encoding="utf-8"?>
<DataType Key="572aff87-4e5e-453c-8368-0903a9f5a702" Alias="Advoc8 Program Item - Length - Textarea" Level="1">
  <Info>
    <Name>Advoc8 Program Item - Length - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>