<?xml version="1.0" encoding="utf-8"?>
<DataType Key="083a24e2-7aa0-4fb8-8fb6-b06f3bc70b5a" Alias="Advoc8 Series On The Go - Statistics - Multinode Treepicker" Level="1">
  <Info>
    <Name>Advoc8 Series On The Go - Statistics - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "statisticItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>