<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afebd3a5-423e-4992-9692-1220714061a4" Alias="Advoc8 Series Event - Link Location - Multi Url Picker" Level="1">
  <Info>
    <Name>Advoc8 Series Event - Link Location - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>