<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a8788e3-83da-495f-b2a9-a9d0344eba1e" Alias="Advoc8 Series Event - Image - Media Picker" Level="1">
  <Info>
    <Name>Advoc8 Series Event - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>