<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00fe28b-f7e9-4dc7-99d8-bfecd303c1aa" Alias="Advoc8 Series - Statistics - Multinode Treepicker" Level="1">
  <Info>
    <Name>Advoc8 Series - Statistics - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>