<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e46cdfc6-ef5e-4f29-85e3-60badab98bfb" Alias="Advoc8 Program Item - Focus - Textarea" Level="1">
  <Info>
    <Name>Advoc8 Program Item - Focus - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>