<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a60ee54c-a658-4775-a398-c85518209121" Alias="Advoc8 Series On The Go - Link Location - Multi Url Picker" Level="1">
  <Info>
    <Name>Advoc8 Series On The Go - Link Location - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>