<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69b2fedb-f4eb-4214-b316-03bc725e0102" Alias="Advoc8 Series - Section Title - Textbox" Level="1">
  <Info>
    <Name>Advoc8 Series - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>