<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8d7430d-09d2-4a08-8c55-2a6aa1cfd0a9" Alias="Advoc8 Series - Tiles - Nested Content" Level="1">
  <Info>
    <Name>Advoc8 Series - Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>