<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1f45753-6474-4b3b-a9a0-b45ae3c1fa7c" Alias="Base page - Hide in Navigation - Checkbox" Level="1">
  <Info>
    <Name>Base page - Hide in Navigation - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>