<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4d3f96a-81d1-441b-b486-7091086b3567" Alias="Base page - Page Title - Textbox" Level="1">
  <Info>
    <Name>Base page - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>