<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91c16599-9aaa-4671-b5e4-3ee89b7157f2" Alias="Generic Banner - Title - Textbox" Level="1">
  <Info>
    <Name>Generic Banner - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>