<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd6063d6-2e90-4a66-9224-3d0b263666ba" Alias="Generic Banner - Main Banner Image - Media Picker" Level="1">
  <Info>
    <Name>Generic Banner - Main Banner Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>