<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee797555-9bd2-46c1-a353-882c33b869f5" Alias="Generic Banner - Show White Gradient - Checkbox" Level="1">
  <Info>
    <Name>Generic Banner - Show White Gradient - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>