<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9aa1c9b2-94c5-402c-8b86-16cca56d7f7b" Alias="Generic Banner - Subtitle - Textbox" Level="1">
  <Info>
    <Name>Generic Banner - Subtitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>