<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33f76fe3-5bae-4373-a1ad-05b257335996" Alias="Half Image and Half Content Tile - Tile Image Subtitle - Textbox" Level="1">
  <Info>
    <Name>Half Image and Half Content Tile - Tile Image Subtitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>