<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e18f9be6-35c3-4b6b-8df6-6f1d916cbe65" Alias="Half Image and Half Content Tile - Tile Image Title - Textbox" Level="1">
  <Info>
    <Name>Half Image and Half Content Tile - Tile Image Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>