<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15d44ca6-1604-42fa-89d5-c741218cef9d" Alias="Half Image and Half Content Tile - Tile Content Box Background Color - Textbox" Level="1">
  <Info>
    <Name>Half Image and Half Content Tile - Tile Content Box Background Color - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>