<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90cbdc5a-dddf-456b-ae80-09346323b3f4" Alias="Homepage - Banner Image - Media Picker" Level="1">
  <Info>
    <Name>Homepage - Banner Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>