<?xml version="1.0" encoding="utf-8"?>
<DataType Key="baecda65-b405-4d62-b397-cf53382ece3b" Alias="Homepage - Show Banner - Checkbox" Level="1">
  <Info>
    <Name>Homepage - Show Banner - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>