<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ef9db84-5e1e-4963-b4eb-0fa777ddb612" Alias="Homepage Tile Item - Tile Title - Rich Text Editor" Level="1">
  <Info>
    <Name>Homepage Tile Item - Tile Title - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>