<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d606f3da-aefd-4470-9af8-02a2aaf0acc6" Alias="Homepage - Title - Textbox" Level="1">
  <Info>
    <Name>Homepage - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>