<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7931738-b9e6-4f9f-82d3-7f6c849c54ca" Alias="Homepage Carousel Item - Show White Gradient - Checkbox" Level="1">
  <Info>
    <Name>Homepage Carousel Item - Show White Gradient - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>