<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83a32b71-f9d3-4268-826c-3bda12e31d18" Alias="Homepage - Main Statistic - Content Picker" Level="1">
  <Info>
    <Name>Homepage - Main Statistic - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/5e61ec3040394362a28f42c0ced37790",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>