<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6190d3e-6b87-458c-8645-bb43c75b4182" Alias="Homepage - Button - Multi Url Picker" Level="1">
  <Info>
    <Name>Homepage - Button - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>