<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d86aef0b-8ee4-4641-a7af-37d52b43b626" Alias="Image - Alt Text - Textbox" Level="1">
  <Info>
    <Name>Image - Alt Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>