<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aed2eef3-95eb-43de-854b-69a3af824f7e" Alias="Project Liber8 Color Palette" Level="1">
  <Info>
    <Name>Project Liber8 Color Palette</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"bab6b5\",\"label\":\"bab6b5\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"565656\",\"label\":\"565656\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"f9faf5\",\"label\":\"f9faf5\"}"
    }
  ]
}]]></Config>
</DataType>