<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b7bb33c-211a-4bbe-950e-e35a83cbe9f3" Alias="Self Care Program Page - Tiles - Nested Content" Level="1">
  <Info>
    <Name>Self Care Program Page - Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>