<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0949eaf2-f515-4129-a266-a21000254c18" Alias="Statistic Item - Title - Textbox" Level="1">
  <Info>
    <Name>Statistic Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>