<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b8a5e28-ad59-4b18-9307-01e1576c9600" Alias="Statistic Item - Description - Textarea" Level="1">
  <Info>
    <Name>Statistic Item - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>