<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81f0961e-b8ba-4d20-868e-af0055cc2258" Alias="Team Member Item - Designation - Textbox" Level="1">
  <Info>
    <Name>Team Member Item - Designation - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>