<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c640642-f4f2-41a1-a2f4-d66c4b9fb704" Alias="Team Member Item - Image - Media Picker" Level="1">
  <Info>
    <Name>Team Member Item - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>