<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d713ba8e-7581-4730-8a23-d53356592d10" Alias="Team Member Item - Name - Textbox" Level="1">
  <Info>
    <Name>Team Member Item - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>