<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fdb0a085-f73e-421e-a243-11528ca1594d" Alias="Technology Page - Technology Tiles - Nested Content" Level="1">
  <Info>
    <Name>Technology Page - Technology Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "technologyTile",
      "ncTabAlias": "Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>