<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd34d9eb-6c06-46e7-9b63-04585abfc904" Alias="Technology Tile - Image - Media Picker" Level="1">
  <Info>
    <Name>Technology Tile - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>