<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d60706cc-b807-4beb-b46e-207157be458d" Alias="Technology Page - Content Tiles - Nested Content" Level="1">
  <Info>
    <Name>Technology Page - Content Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>