<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03c3995d-57dd-401c-a26d-c17181436e59" Alias="Technology Page - Content Title - Textarea (1)" Level="1">
  <Info>
    <Name>Technology Page - Content Title - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>