<?xml version="1.0" encoding="utf-8"?>
<DataType Key="609bd510-8be1-44f8-b06b-b01288995faf" Alias="Technology Tile - Title - Textbox" Level="1">
  <Info>
    <Name>Technology Tile - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>