<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e14bec8-aee3-479d-8e3a-44a5781a7ef0" Alias="Technology Page - Content Title - Textarea" Level="1">
  <Info>
    <Name>Technology Page - Content Title - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>