<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91a4a2bb-cadb-4f19-b517-d9352bc98963" Alias="The Movement Page - Section Title - Textbox" Level="1">
  <Info>
    <Name>The Movement Page - Section Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>