<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fef64183-62db-4f98-98d6-e887844f14e5" Alias="The Movement Page - Fineprint - Textarea" Level="1">
  <Info>
    <Name>The Movement Page - Fineprint - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>