<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abc06053-3f16-4f6b-9e2c-a1bcd3efad8b" Alias="The Movement Page - Section Subtitle - Textbox" Level="1">
  <Info>
    <Name>The Movement Page - Section Subtitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>