<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a46e7d05-fbee-42c0-a705-0e4fba67a495" Alias="The Movement Page - Subtitle - Textbox" Level="1">
  <Info>
    <Name>The Movement Page - Subtitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>