<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a850ab1a-651f-491b-bb66-6fac58f5b1f5" Alias="The Movement Page - Section Image - Media Picker" Level="1">
  <Info>
    <Name>The Movement Page - Section Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>