<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4d7d417-2e66-4e01-8dca-aa77cd6bfae3" Alias="The Movement Page - Section Title - Textarea" Level="1">
  <Info>
    <Name>The Movement Page - Section Title - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>