<?xml version="1.0" encoding="utf-8"?>
<DataType Key="822c5528-5d76-480e-896a-fdd6f15f2dab" Alias="The Movement Page - Link Location - Multi Url Picker (1)" Level="1">
  <Info>
    <Name>The Movement Page - Link Location - Multi Url Picker (1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>