<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf265a91-b393-4840-bbfc-f7e5079a5105" Alias="The Movement Page - Link Location - Multi Url Picker" Level="1">
  <Info>
    <Name>The Movement Page - Link Location - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>