<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d30f3fc2-11e6-4dc3-adb5-442e31e2059c" Alias="The Movement Page - Carousel Items Folder - Multinode Treepicker" Level="1">
  <Info>
    <Name>The Movement Page - Carousel Items Folder - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/ac283cb81c6b4078bf847df80a4390f3"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>