<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e87516ad-622a-4aeb-9fd1-fdcb05b5af6f" Alias="The Movement Page - Tiles - Nested Content" Level="1">
  <Info>
    <Name>The Movement Page - Tiles - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "halfImageAndHalfContentTile",
      "ncTabAlias": "Tile Information",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>