<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c84390a0-a653-4a0b-ac6d-f59e18409c06" Alias="The Movement Page - Main Title - Textbox" Level="1">
  <Info>
    <Name>The Movement Page - Main Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>